<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826106395535-54gu65s0pa4rv4fsippvre61r4hbjr75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826106395535-54gu65s0pa4rv4fsippvre61r4hbjr75</string>
	<key>API_KEY</key>
	<string>AIzaSyCXF9q2NjuvDw_xRtMtKpbwZd1lw0O1qnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>826106395535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodsMatters</string>
	<key>PROJECT_ID</key>
	<string>foods-matter</string>
	<key>STORAGE_BUCKET</key>
	<string>foods-matter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826106395535:ios:32509ef43936900464e9fa</string>
</dict>
</plist>